MIAGESpacelibUsagerWeb/src/wsdl/localhost_8080/WSUsager/WSUsager.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://spacelib.miage/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://spacelib.miage/" name="WSUsager">
<types>
<xsd:schema>
<xsd:import namespace="http://spacelib.miage/" schemaLocation="http://localhost:8080/WSUsager/WSUsager?xsd=1"/>
</xsd:schema>
</types>
<message name="afficherReservations">
<part name="parameters" element="tns:afficherReservations"/>
</message>
<message name="afficherReservationsResponse">
<part name="parameters" element="tns:afficherReservationsResponse"/>
</message>
<message name="genCarteSpacelib">
<part name="parameters" element="tns:genCarteSpacelib"/>
</message>
<message name="genCarteSpacelibResponse">
<part name="parameters" element="tns:genCarteSpacelibResponse"/>
</message>
<message name="creerReservation">
<part name="parameters" element="tns:creerReservation"/>
</message>
<message name="creerReservationResponse">
<part name="parameters" element="tns:creerReservationResponse"/>
</message>
<message name="inscrire">
<part name="parameters" element="tns:inscrire"/>
</message>
<message name="authentifier">
<part name="parameters" element="tns:authentifier"/>
</message>
<message name="authentifierResponse">
<part name="parameters" element="tns:authentifierResponse"/>
</message>
<message name="initierVoyage">
<part name="parameters" element="tns:initierVoyage"/>
</message>
<message name="initierVoyageResponse">
<part name="parameters" element="tns:initierVoyageResponse"/>
</message>
<message name="finaliserVoyage">
<part name="parameters" element="tns:finaliserVoyage"/>
</message>
<message name="afficherVoyage">
<part name="parameters" element="tns:afficherVoyage"/>
</message>
<message name="afficherVoyageResponse">
<part name="parameters" element="tns:afficherVoyageResponse"/>
</message>
<message name="recupStations">
<part name="parameters" element="tns:recupStations"/>
</message>
<message name="recupStationsResponse">
<part name="parameters" element="tns:recupStationsResponse"/>
</message>
<message name="afficherResa">
<part name="parameters" element="tns:afficherResa"/>
</message>
<message name="afficherResaResponse">
<part name="parameters" element="tns:afficherResaResponse"/>
</message>
<message name="cloturerReservation">
<part name="parameters" element="tns:cloturerReservation"/>
</message>
<message name="cloturerReservationResponse">
<part name="parameters" element="tns:cloturerReservationResponse"/>
</message>
<message name="annulerReservation">
<part name="parameters" element="tns:annulerReservation"/>
</message>
<portType name="WSUsager">
<operation name="afficherReservations">
<input wsam:Action="http://spacelib.miage/WSUsager/afficherReservationsRequest" message="tns:afficherReservations"/>
<output wsam:Action="http://spacelib.miage/WSUsager/afficherReservationsResponse" message="tns:afficherReservationsResponse"/>
</operation>
<operation name="genCarteSpacelib">
<input wsam:Action="http://spacelib.miage/WSUsager/genCarteSpacelibRequest" message="tns:genCarteSpacelib"/>
<output wsam:Action="http://spacelib.miage/WSUsager/genCarteSpacelibResponse" message="tns:genCarteSpacelibResponse"/>
</operation>
<operation name="creerReservation">
<input wsam:Action="http://spacelib.miage/WSUsager/creerReservationRequest" message="tns:creerReservation"/>
<output wsam:Action="http://spacelib.miage/WSUsager/creerReservationResponse" message="tns:creerReservationResponse"/>
</operation>
<operation name="inscrire">
<input wsam:Action="http://spacelib.miage/WSUsager/inscrire" message="tns:inscrire"/>
</operation>
<operation name="authentifier">
<input wsam:Action="http://spacelib.miage/WSUsager/authentifierRequest" message="tns:authentifier"/>
<output wsam:Action="http://spacelib.miage/WSUsager/authentifierResponse" message="tns:authentifierResponse"/>
</operation>
<operation name="initierVoyage">
<input wsam:Action="http://spacelib.miage/WSUsager/initierVoyageRequest" message="tns:initierVoyage"/>
<output wsam:Action="http://spacelib.miage/WSUsager/initierVoyageResponse" message="tns:initierVoyageResponse"/>
</operation>
<operation name="finaliserVoyage">
<input wsam:Action="http://spacelib.miage/WSUsager/finaliserVoyage" message="tns:finaliserVoyage"/>
</operation>
<operation name="afficherVoyage">
<input wsam:Action="http://spacelib.miage/WSUsager/afficherVoyageRequest" message="tns:afficherVoyage"/>
<output wsam:Action="http://spacelib.miage/WSUsager/afficherVoyageResponse" message="tns:afficherVoyageResponse"/>
</operation>
<operation name="recupStations">
<input wsam:Action="http://spacelib.miage/WSUsager/recupStationsRequest" message="tns:recupStations"/>
<output wsam:Action="http://spacelib.miage/WSUsager/recupStationsResponse" message="tns:recupStationsResponse"/>
</operation>
<operation name="afficherResa">
<input wsam:Action="http://spacelib.miage/WSUsager/afficherResaRequest" message="tns:afficherResa"/>
<output wsam:Action="http://spacelib.miage/WSUsager/afficherResaResponse" message="tns:afficherResaResponse"/>
</operation>
<operation name="cloturerReservation">
<input wsam:Action="http://spacelib.miage/WSUsager/cloturerReservationRequest" message="tns:cloturerReservation"/>
<output wsam:Action="http://spacelib.miage/WSUsager/cloturerReservationResponse" message="tns:cloturerReservationResponse"/>
</operation>
<operation name="annulerReservation">
<input wsam:Action="http://spacelib.miage/WSUsager/annulerReservation" message="tns:annulerReservation"/>
</operation>
</portType>
<binding name="WSUsagerPortBinding" type="tns:WSUsager">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="afficherReservations">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="genCarteSpacelib">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="creerReservation">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="inscrire">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="authentifier">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="initierVoyage">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="finaliserVoyage">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="afficherVoyage">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="recupStations">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="afficherResa">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="cloturerReservation">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="annulerReservation">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
</binding>
<service name="WSUsager">
<port name="WSUsagerPort" binding="tns:WSUsagerPortBinding">
<soap:address location="http://localhost:8080/WSUsager/WSUsager"/>
</port>
</service>
</definitions>