MIAGESpacelibMeca/src/wsdl/localhost_8080/WSMeca/WSMeca.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://spacelib.miage/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://spacelib.miage/" name="WSMeca">
<types>
<xsd:schema>
<xsd:import namespace="http://spacelib.miage/" schemaLocation="http://localhost:8080/WSMeca/WSMeca?xsd=1"/>
</xsd:schema>
</types>
<message name="afficherRevision">
<part name="parameters" element="tns:afficherRevision"/>
</message>
<message name="afficherRevisionResponse">
<part name="parameters" element="tns:afficherRevisionResponse"/>
</message>
<message name="initierRevision">
<part name="parameters" element="tns:initierRevision"/>
</message>
<message name="initierRevisionResponse">
<part name="parameters" element="tns:initierRevisionResponse"/>
</message>
<message name="finaliserRevision">
<part name="parameters" element="tns:finaliserRevision"/>
</message>
<message name="authentifierMeca">
<part name="parameters" element="tns:authentifierMeca"/>
</message>
<message name="authentifierMecaResponse">
<part name="parameters" element="tns:authentifierMecaResponse"/>
</message>
<message name="authentifierConduc">
<part name="parameters" element="tns:authentifierConduc"/>
</message>
<message name="authentifierConducResponse">
<part name="parameters" element="tns:authentifierConducResponse"/>
</message>
<message name="transfertNecessaire">
<part name="parameters" element="tns:transfertNecessaire"/>
</message>
<message name="transfertNecessaireResponse">
<part name="parameters" element="tns:transfertNecessaireResponse"/>
</message>
<portType name="WSMeca">
<operation name="afficherRevision">
<input wsam:Action="http://spacelib.miage/WSMeca/afficherRevisionRequest" message="tns:afficherRevision"/>
<output wsam:Action="http://spacelib.miage/WSMeca/afficherRevisionResponse" message="tns:afficherRevisionResponse"/>
</operation>
<operation name="initierRevision">
<input wsam:Action="http://spacelib.miage/WSMeca/initierRevisionRequest" message="tns:initierRevision"/>
<output wsam:Action="http://spacelib.miage/WSMeca/initierRevisionResponse" message="tns:initierRevisionResponse"/>
</operation>
<operation name="finaliserRevision">
<input wsam:Action="http://spacelib.miage/WSMeca/finaliserRevision" message="tns:finaliserRevision"/>
</operation>
<operation name="authentifierMeca">
<input wsam:Action="http://spacelib.miage/WSMeca/authentifierMecaRequest" message="tns:authentifierMeca"/>
<output wsam:Action="http://spacelib.miage/WSMeca/authentifierMecaResponse" message="tns:authentifierMecaResponse"/>
</operation>
<operation name="authentifierConduc">
<input wsam:Action="http://spacelib.miage/WSMeca/authentifierConducRequest" message="tns:authentifierConduc"/>
<output wsam:Action="http://spacelib.miage/WSMeca/authentifierConducResponse" message="tns:authentifierConducResponse"/>
</operation>
<operation name="transfertNecessaire">
<input wsam:Action="http://spacelib.miage/WSMeca/transfertNecessaireRequest" message="tns:transfertNecessaire"/>
<output wsam:Action="http://spacelib.miage/WSMeca/transfertNecessaireResponse" message="tns:transfertNecessaireResponse"/>
</operation>
</portType>
<binding name="WSMecaPortBinding" type="tns:WSMeca">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="afficherRevision">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="initierRevision">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="finaliserRevision">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="authentifierMeca">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="authentifierConduc">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="transfertNecessaire">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="WSMeca">
<port name="WSMecaPort" binding="tns:WSMecaPortBinding">
<soap:address location="http://localhost:8080/WSMeca/WSMeca"/>
</port>
</service>
</definitions>